PracticalWork_04_Solution/flows.json
[
    {
        "id": "95204e97af393e23",
        "type": "tab",
        "label": "Lab 03 Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f479262664cd75e2",
        "type": "tab",
        "label": "PackML",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "016306c2d57be25e",
        "type": "tab",
        "label": "Alarms and Warnings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66b713bff26c6577",
        "type": "tab",
        "label": "Axes Get Position",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c31763846faff4a",
        "type": "tab",
        "label": "Documentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ccb574154e3475d",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "69a1382792d493e5",
            "4a99555c5c99a906",
            "a1188273fa858afb",
            "5873013b9baa66fd",
            "8568cbc5e8e3a3e7",
            "b0f2ba42e531280b",
            "e03c864b75823938",
            "84fccf9607b693bd",
            "e4035f4d4de3c39a",
            "b09d4b9362aac004",
            "6e51b78d9c6f5a96",
            "e6079fe93ae39937",
            "e85f7c32b3e4d863"
        ],
        "x": 34,
        "y": 39,
        "w": 832,
        "h": 422
    },
    {
        "id": "7b313a45e45d8c67",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ee0148a275dedb",
            "9bd81e8275e8f9fc",
            "59670bcba7664fbf",
            "d42e8acbe3501983",
            "a12abec19b950583",
            "c49cf2bce7d87104",
            "4c3d0833f9aa8ad5"
        ],
        "x": 14,
        "y": 519,
        "w": 982,
        "h": 222
    },
    {
        "id": "da63248a1cc4b4af",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5af87b665ab849ef",
            "c88f46c050aa51a3",
            "c128f90be143a216",
            "ac49f0b9e2200d23",
            "fab458635840f194",
            "b4acbb4fa910b71d",
            "399266970ed3c8d1",
            "b21a4f9c5ea48486",
            "3721ba1125f3e447"
        ],
        "x": 34,
        "y": 499,
        "w": 858,
        "h": 522
    },
    {
        "id": "9a1553f8c3041295",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fcbaa2bbfa97fe76",
            "70e837f7c57ab252",
            "fb3ab66a497550f6"
        ],
        "x": 14,
        "y": 799,
        "w": 762,
        "h": 142
    },
    {
        "id": "afcfe23faa8f6540",
        "type": "group",
        "z": "95204e97af393e23",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "123ee55bbf283ed2",
            "cb126c7ceb9915d0",
            "b099b1941e20764b",
            "f7d407d406d93872"
        ],
        "x": 74,
        "y": 79,
        "w": 692,
        "h": 202
    },
    {
        "id": "fab458635840f194",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e189ecd802172e5",
            "602f4c0ed027a896",
            "6243fa7ea09362a4"
        ],
        "x": 294,
        "y": 599,
        "w": 572,
        "h": 82
    },
    {
        "id": "b4acbb4fa910b71d",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "52bfe6c137bd1644",
            "3c3321ef3d105be0",
            "575b8dd8c92560ac"
        ],
        "x": 294,
        "y": 719,
        "w": 572,
        "h": 82
    },
    {
        "id": "399266970ed3c8d1",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f8c71b02e2e6a3cf",
            "35519cde47a513a6",
            "059ec5ae6fe47060"
        ],
        "x": 294,
        "y": 859,
        "w": 572,
        "h": 82
    },
    {
        "id": "0b01b5112b73520c",
        "type": "group",
        "z": "016306c2d57be25e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "234883240fc33ddd",
            "03c3188a99187464",
            "4fff1db996e9f3bc",
            "835f993728f4da1e",
            "fefb20c486303bfe",
            "3b818c56464d0307",
            "a39a6e2a36bc3f90",
            "8e65b7991f83358f",
            "1181b7ec01546c2e",
            "e4b79fd3ec02cf04",
            "8690a5797efcf59d",
            "91aa0e626a309729",
            "69ef282230163696",
            "83a5feeafea9eb75",
            "9170b5aac9d8c3e9",
            "62fab8afa2d04c48",
            "4d9fc7e403fba3dd"
        ],
        "x": 14,
        "y": 39,
        "w": 1072,
        "h": 542
    },
    {
        "id": "bdcbf2ddb4f4563e",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b06631cf122bdf3",
            "95fb6b0f42cf7c3a",
            "b7fe6484e9a7f19b",
            "3f5cba2b578b6f16",
            "0ff03659b1dd4645",
            "cf301bd39edd06a3",
            "24e0eb8b4aad0a0f",
            "a3990a60b44254b8",
            "9339e55232306223",
            "3f47c6139d49dba9"
        ],
        "x": 14,
        "y": 239,
        "w": 1032,
        "h": 242
    },
    {
        "id": "cf1d7ff2e03c5d90",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b6090bcb4f099cbc",
            "d259a6a16e0d83e3",
            "6cf33825ef3e24de",
            "1427dd2c7b33fd68",
            "1942f3c95083713f",
            "57e7c2258dc1f648",
            "d1fe358c862bb8e1"
        ],
        "x": 14,
        "y": 19,
        "w": 1092,
        "h": 202
    },
    {
        "id": "42e8a5a1859e1ba3",
        "type": "group",
        "z": "016306c2d57be25e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "82fae2f45a487614",
            "89bba963dac6cea8",
            "caf85ad5a27d3c4a",
            "685aa59983a93463",
            "d25948369892b12f",
            "266c52550afbda9f",
            "de8e0e4e4830df33",
            "3056be44f9e20331",
            "e9e952f26c9f0c7c",
            "442636fd0c6b9a32",
            "a8ac0ed004466810",
            "19ad56ca9ff77f64",
            "76a26758f69f5fbc",
            "9b594bcd0bc97df9",
            "d4d9ddda40431e5d",
            "13f5df24fc5be372",
            "6a3d77fb84af3375",
            "efb3b75f1d0463bc",
            "90e4815e1c07617c"
        ],
        "x": 14,
        "y": 619,
        "w": 592,
        "h": 462
    },
    {
        "id": "8966a7b403a8fb88",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#8080ff",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "e45e312c80fc001e",
        "type": "ctrlx-config",
        "name": "Nodered_CtrlX",
        "hostname": "192.168.0.200",
        "debug": false
    },
    {
        "id": "c5b0190b901ecb86",
        "type": "ctrlx-config-subscription",
        "device": "e45e312c80fc001e",
        "name": "Subscribe",
        "publishIntervalMs": "",
        "publishIntervalUnits": "seconds",
        "samplingInterval": "",
        "samplingIntervalUnits": "seconds",
        "errorInterval": "",
        "errorIntervalUnits": "seconds",
        "keepaliveInterval": "",
        "keepaliveIntervalUnits": "minutes",
        "queueSize": "",
        "queueBehaviour": "DiscardOldest",
        "deadbandValue": ""
    },
    {
        "id": "926d3079c9560d19",
        "type": "ui-base",
        "name": "Home",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "328b4649a9ced4a0",
        "type": "ui-page",
        "name": "Alarms",
        "ui": "926d3079c9560d19",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7d8adc78da567ef2",
        "type": "ui-group",
        "name": "Alarms",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5794c6df8ea5c237",
        "type": "ui-group",
        "name": "Alarms History",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3d6ba5b3b7bc8bec",
        "type": "ui-group",
        "name": "Warnings",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e1f3bcea95b360ed",
        "type": "ui-group",
        "name": "Test Alarms and Warnings",
        "page": "328b4649a9ced4a0",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "66c6923e3822666a",
        "type": "ui-page",
        "name": "CtrlX Data Layer Test",
        "ui": "926d3079c9560d19",
        "path": "/robot",
        "icon": "robot-happy-outline",
        "layout": "grid",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "bb97738361048557",
        "type": "ui-group",
        "name": "Robot Position",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5e3f352f60d7af69",
        "type": "ui-page",
        "name": "Documentations",
        "ui": "926d3079c9560d19",
        "path": "/page3",
        "icon": "home",
        "layout": "notebook",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6b2222aa7324c02b",
        "type": "ui-group",
        "name": "Base",
        "page": "5e3f352f60d7af69",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f52f774838673224",
        "type": "ui-group",
        "name": "Commands and Read",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6f4d4cc842955c98",
        "type": "ui-group",
        "name": "CPU",
        "page": "5e3f352f60d7af69",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "59890682626fcee1",
        "type": "ui-group",
        "name": "Lab 03",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "123ee55bbf283ed2",
        "type": "ui-text",
        "z": "95204e97af393e23",
        "g": "afcfe23faa8f6540",
        "group": "59890682626fcee1",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "O300 DL",
        "label": "Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "cb126c7ceb9915d0",
        "type": "function",
        "z": "95204e97af393e23",
        "g": "afcfe23faa8f6540",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nlet postion_mm = 'Baumer O300 DL : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "123ee55bbf283ed2"
            ]
        ]
    },
    {
        "id": "b099b1941e20764b",
        "type": "ctrlx-datalayer-subscribe",
        "z": "95204e97af393e23",
        "d": true,
        "g": "afcfe23faa8f6540",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Student/reLinkToUI",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "cb126c7ceb9915d0"
            ]
        ]
    },
    {
        "id": "f7d407d406d93872",
        "type": "comment",
        "z": "95204e97af393e23",
        "g": "afcfe23faa8f6540",
        "name": "Sensor O300DL",
        "info": "",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "a12abec19b950583",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiStateMasterCurrent",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 700,
        "wires": [
            [
                "c49cf2bce7d87104"
            ]
        ]
    },
    {
        "id": "c49cf2bce7d87104",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "PackML State : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 560,
        "y": 700,
        "wires": []
    },
    {
        "id": "d42e8acbe3501983",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackTime/Date_and_time_string",
        "name": "",
        "inputs": 0,
        "x": 240,
        "y": 640,
        "wires": [
            [
                "4c3d0833f9aa8ad5"
            ]
        ]
    },
    {
        "id": "4c3d0833f9aa8ad5",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "PLC Time: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "3b06631cf122bdf3",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "group": "f52f774838673224",
        "name": "",
        "label": "Start",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "restart",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "95fb6b0f42cf7c3a"
            ]
        ]
    },
    {
        "id": "95fb6b0f42cf7c3a",
        "type": "function",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 360,
        "wires": [
            [
                "b7fe6484e9a7f19b"
            ]
        ]
    },
    {
        "id": "b7fe6484e9a7f19b",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdStart",
        "payloadFormat": "value_type",
        "name": "Start",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3f5cba2b578b6f16",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdClear",
        "payloadFormat": "value_type",
        "name": "Clear",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff03659b1dd4645",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "group": "f52f774838673224",
        "name": "",
        "label": "Clear",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power-plug",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "cf301bd39edd06a3"
            ]
        ]
    },
    {
        "id": "cf301bd39edd06a3",
        "type": "function",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "3f5cba2b578b6f16"
            ]
        ]
    },
    {
        "id": "20ee0148a275dedb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiModeMasterCurrent",
        "name": "",
        "inputs": 0,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "9bd81e8275e8f9fc"
            ]
        ]
    },
    {
        "id": "9bd81e8275e8f9fc",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "PackML Mode : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "59670bcba7664fbf",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "name": "Get Current Mode, State and Time",
        "info": "",
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "fcbaa2bbfa97fe76",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "subscription": "c5b0190b901ecb86",
        "path": "framework/metrics/system/cpu-utilisation-percent",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 840,
        "wires": [
            [
                "70e837f7c57ab252"
            ]
        ]
    },
    {
        "id": "70e837f7c57ab252",
        "type": "ui-gauge",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "name": "CPU Usage",
        "group": "6f4d4cc842955c98",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "CPU Usage",
        "units": "%",
        "icon": "cpu-64-bit",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "20",
                "color": "#ffc800"
            },
            {
                "from": "90",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 570,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "fb3ab66a497550f6",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "name": "Get CPU Usage from DataLayer",
        "info": "",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "24e0eb8b4aad0a0f",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "group": "f52f774838673224",
        "name": "",
        "label": "Stop",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "restart",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "a3990a60b44254b8"
            ]
        ]
    },
    {
        "id": "a3990a60b44254b8",
        "type": "function",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "9339e55232306223"
            ]
        ]
    },
    {
        "id": "9339e55232306223",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdStop",
        "payloadFormat": "value_type",
        "name": "Stop",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b6090bcb4f099cbc",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "group": "f52f774838673224",
        "order": 8,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "First Alarm: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "d259a6a16e0d83e3",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiTextAlarmOne",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "b6090bcb4f099cbc"
            ]
        ]
    },
    {
        "id": "6cf33825ef3e24de",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "group": "f52f774838673224",
        "order": 9,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "First Warning :  ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "1427dd2c7b33fd68",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiTextWarningOne",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "6cf33825ef3e24de"
            ]
        ]
    },
    {
        "id": "1942f3c95083713f",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "group": "f52f774838673224",
        "order": 10,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Stop Reason :  ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "57e7c2258dc1f648",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiTextStopReason",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "1942f3c95083713f"
            ]
        ]
    },
    {
        "id": "3f47c6139d49dba9",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "bdcbf2ddb4f4563e",
        "name": "Base Commands",
        "info": "",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "d1fe358c862bb8e1",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "cf1d7ff2e03c5d90",
        "name": "Resumé Alarms and Warnings",
        "info": "",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "234883240fc33ddd",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Object To Array",
        "func": "// Get Base message\nvar newMsg = msg;\n\n// Convert the object to an array\nnewMsg.payload = msg.payload.value;\n// Convert date in second to string.\n// It time is > 0.\nlet timeIndex = 0;\nlet newDateSecond;\nlet newDate;\nlet newDateStringLocal;\nwhile ((timeIndex < newMsg.payload.length) &&\n       (newMsg.payload[timeIndex].DateTime > 0))\n       {\n       // Convert second to string for DateTime\n       newDateSecond = newMsg.payload[timeIndex].DateTime;\n       newDate = new Date(newDateSecond * 1000);\n       newDateStringLocal = newDate.toLocaleString('fr-CH');\n\n       // Write DateTime in string format for DataTime\n       newMsg.payload[timeIndex].DateTime = newDateStringLocal;\n\n       // If AckDateTime > 0, convert it to String too.\n       if(newMsg.payload[timeIndex].AckDateTime > 0){\n              // Convert second to string for DateTime\n              newDateSecond = newMsg.payload[timeIndex].AckDateTime;\n              newDate = new Date(newDateSecond * 1000);\n              newDateStringLocal = newDate.toLocaleString('fr-CH');\n\n              // Write DateTime in string format for DataTime\n              newMsg.payload[timeIndex].AckDateTime = newDateStringLocal;\n       }\n\n        timeIndex++;\n        flow.set(\"FlowTimeIndex\", timeIndex);\n        flow.set(\"DateString\", newDateStringLocal);\n       }\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "4fff1db996e9f3bc"
            ]
        ]
    },
    {
        "id": "03c3188a99187464",
        "type": "ctrlx-datalayer-subscribe",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/Admin/Alarm",
        "name": "",
        "inputs": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "234883240fc33ddd"
            ]
        ]
    },
    {
        "id": "4fff1db996e9f3bc",
        "type": "ui-table",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "group": "7d8adc78da567ef2",
        "name": "",
        "label": "Alarm",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "click",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "83a5feeafea9eb75"
            ]
        ]
    },
    {
        "id": "835f993728f4da1e",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Object To Array",
        "func": "// Get Base message\nvar newMsg = msg;\n\n// Convert the object to an array\nnewMsg.payload = msg.payload.value;\n// Convert date in second to string.\n// It time is > 0.\nlet timeIndex = 0;\nlet newDateSecond;\nlet newDate;\nlet newDateStringLocal;\nwhile ((timeIndex < newMsg.payload.length) &&\n       (newMsg.payload[timeIndex].DateTime > 0))\n       {\n       newDateSecond = newMsg.payload[timeIndex].DateTime;\n       newDate = new Date(newDateSecond * 1000);\n       newDateStringLocal = newDate.toLocaleString('fr-CH');\n\n       newMsg.payload[timeIndex].DateTime = newDateStringLocal;\n\n\n       // If AckDateTime > 0, convert it to String too.\n       if(newMsg.payload[timeIndex].AckDateTime > 0){\n              // Convert second to string for DateTime\n              newDateSecond = newMsg.payload[timeIndex].AckDateTime;\n              newDate = new Date(newDateSecond * 1000);\n              newDateStringLocal = newDate.toLocaleString('fr-CH');\n\n              // Write DateTime in string format for DataTime\n              newMsg.payload[timeIndex].AckDateTime = newDateStringLocal;\n       }\n\n       timeIndex++;\n       }\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "3b818c56464d0307"
            ]
        ]
    },
    {
        "id": "fefb20c486303bfe",
        "type": "ctrlx-datalayer-subscribe",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/Admin/AlarmHistory",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "835f993728f4da1e"
            ]
        ]
    },
    {
        "id": "3b818c56464d0307",
        "type": "ui-table",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "group": "5794c6df8ea5c237",
        "name": "",
        "label": "Alarm History",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a39a6e2a36bc3f90",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Object To Array",
        "func": "// Get Base message\nvar newMsg = msg;\n\n// Convert the object to an array\nnewMsg.payload = msg.payload.value;\n// Convert date in second to string.\n// It time is > 0.\nlet timeIndex = 0;\nlet newDateSecond;\nlet newDate;\nlet newDateStringLocal;\nwhile ((timeIndex < newMsg.payload.length) &&\n       (newMsg.payload[timeIndex].DateTime > 0))\n       {\n       newDateSecond = newMsg.payload[timeIndex].DateTime;\n       newDate = new Date(newDateSecond * 1000);\n       newDateStringLocal = newDate.toLocaleString('fr-CH');\n\n       newMsg.payload[timeIndex].DateTime = newDateStringLocal;\n\n       // If AckDateTime > 0, convert it to String too.\n       if(newMsg.payload[timeIndex].AckDateTime > 0){\n              // Convert second to string for DateTime\n              newDateSecond = newMsg.payload[timeIndex].AckDateTime;\n              newDate = new Date(newDateSecond * 1000);\n              newDateStringLocal = newDate.toLocaleString('fr-CH');\n\n              // Write DateTime in string format for DataTime\n              newMsg.payload[timeIndex].AckDateTime = newDateStringLocal;\n       }\n        \n       timeIndex++;\n       }\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "1181b7ec01546c2e"
            ]
        ]
    },
    {
        "id": "8e65b7991f83358f",
        "type": "ctrlx-datalayer-subscribe",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/Admin/Warning",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "a39a6e2a36bc3f90"
            ]
        ]
    },
    {
        "id": "1181b7ec01546c2e",
        "type": "ui-table",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "group": "3d6ba5b3b7bc8bec",
        "name": "",
        "label": "warning",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "10",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 740,
        "y": 400,
        "wires": [
            [
                "62fab8afa2d04c48"
            ]
        ]
    },
    {
        "id": "e4b79fd3ec02cf04",
        "type": "debug",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Get Warning Click",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "8690a5797efcf59d",
        "type": "debug",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Get Alarm Click",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "91aa0e626a309729",
        "type": "inject",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "234883240fc33ddd"
            ]
        ]
    },
    {
        "id": "69ef282230163696",
        "type": "comment",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Alarms",
        "info": "",
        "x": 90,
        "y": 460,
        "wires": []
    },
    {
        "id": "83a5feeafea9eb75",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Ack Alarm Id",
        "func": "var newMsg = msg;\nvar AlarmId = msg.payload.ID;\n\n// newMsg.payload = msg.payload.Value;\nnewMsg.payload = { type: \"int32\", value: AlarmId};\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "8690a5797efcf59d",
                "9170b5aac9d8c3e9"
            ]
        ]
    },
    {
        "id": "9170b5aac9d8c3e9",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiAlarmGetId",
        "payloadFormat": "value_type",
        "name": "Alarm Id",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 940,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "62fab8afa2d04c48",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "name": "Ack Warning Id",
        "func": "var newMsg = msg;\nvar WarningId = msg.payload.ID;\n\n// newMsg.payload = msg.payload.Value;\nnewMsg.payload = { type: \"int32\", value: WarningId };\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 480,
        "wires": [
            [
                "e4b79fd3ec02cf04",
                "4d9fc7e403fba3dd"
            ]
        ]
    },
    {
        "id": "4d9fc7e403fba3dd",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "0b01b5112b73520c",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiWarningGetId",
        "payloadFormat": "value_type",
        "name": "Warning Id",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 990,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "82fae2f45a487614",
        "type": "ui-switch",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "",
        "label": "Alarm Abort",
        "group": "e1f3bcea95b360ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "76a26758f69f5fbc"
            ]
        ]
    },
    {
        "id": "89bba963dac6cea8",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_0",
        "payloadFormat": "value_type",
        "name": "Abort",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 470,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "caf85ad5a27d3c4a",
        "type": "ui-switch",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "",
        "label": "Alarm Stop",
        "group": "e1f3bcea95b360ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "9b594bcd0bc97df9"
            ]
        ]
    },
    {
        "id": "685aa59983a93463",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_1",
        "payloadFormat": "value_type",
        "name": "Stop",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 470,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d25948369892b12f",
        "type": "ui-switch",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "",
        "label": "Alarm Hold",
        "group": "e1f3bcea95b360ed",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "d4d9ddda40431e5d"
            ]
        ]
    },
    {
        "id": "266c52550afbda9f",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_2",
        "payloadFormat": "value_type",
        "name": "Hold",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 470,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "de8e0e4e4830df33",
        "type": "ui-switch",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "",
        "label": "Warning 1",
        "group": "e1f3bcea95b360ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 860,
        "wires": [
            [
                "13f5df24fc5be372"
            ]
        ]
    },
    {
        "id": "3056be44f9e20331",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetWarning_0",
        "payloadFormat": "value_type",
        "name": "Set Warning 1",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 500,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e9e952f26c9f0c7c",
        "type": "ui-switch",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "",
        "label": "Warning 2",
        "group": "e1f3bcea95b360ed",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "6a3d77fb84af3375"
            ]
        ]
    },
    {
        "id": "442636fd0c6b9a32",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetWarning_1",
        "payloadFormat": "value_type",
        "name": "Set Warning 2",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 500,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ac0ed004466810",
        "type": "ui-switch",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "",
        "label": "Warning 3",
        "group": "e1f3bcea95b360ed",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "efb3b75f1d0463bc"
            ]
        ]
    },
    {
        "id": "19ad56ca9ff77f64",
        "type": "ctrlx-datalayer-request",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetWarning_2",
        "payloadFormat": "value_type",
        "name": "Set Warning 3",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 500,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "76a26758f69f5fbc",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 660,
        "wires": [
            [
                "89bba963dac6cea8"
            ]
        ]
    },
    {
        "id": "9b594bcd0bc97df9",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "685aa59983a93463"
            ]
        ]
    },
    {
        "id": "d4d9ddda40431e5d",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 780,
        "wires": [
            [
                "266c52550afbda9f"
            ]
        ]
    },
    {
        "id": "13f5df24fc5be372",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 860,
        "wires": [
            [
                "3056be44f9e20331"
            ]
        ]
    },
    {
        "id": "6a3d77fb84af3375",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 920,
        "wires": [
            [
                "442636fd0c6b9a32"
            ]
        ]
    },
    {
        "id": "efb3b75f1d0463bc",
        "type": "function",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "bool8",
        "func": "let mySwitch = msg.payload;\nmsg.payload = { type: \"bool8\", value: mySwitch };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 980,
        "wires": [
            [
                "19ad56ca9ff77f64"
            ]
        ]
    },
    {
        "id": "90e4815e1c07617c",
        "type": "comment",
        "z": "016306c2d57be25e",
        "g": "42e8a5a1859e1ba3",
        "name": "Alarms Test UI",
        "info": "",
        "x": 120,
        "y": 1040,
        "wires": []
    },
    {
        "id": "69a1382792d493e5",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_x/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "e03c864b75823938",
                "84fccf9607b693bd"
            ]
        ]
    },
    {
        "id": "4a99555c5c99a906",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "X",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "a1188273fa858afb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_y/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "e4035f4d4de3c39a"
            ]
        ]
    },
    {
        "id": "5873013b9baa66fd",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Y",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "8568cbc5e8e3a3e7",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_z/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "b09d4b9362aac004",
                "6e51b78d9c6f5a96"
            ]
        ]
    },
    {
        "id": "b0f2ba42e531280b",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Z",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "e03c864b75823938",
        "type": "debug",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "84fccf9607b693bd",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('X_Position', position);\n\nlet postion_mm = 'Axis X : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "4a99555c5c99a906"
            ]
        ]
    },
    {
        "id": "e4035f4d4de3c39a",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Y_Position', position);\n\nlet postion_mm = 'Axis Y : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "5873013b9baa66fd"
            ]
        ]
    },
    {
        "id": "b09d4b9362aac004",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Z_Position', position);\n\nlet postion_mm = 'Axis Z : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "b0f2ba42e531280b"
            ]
        ]
    },
    {
        "id": "6e51b78d9c6f5a96",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "function 2",
        "func": "let newMsg = msg;\n\nnewMsg.payload.logDate = Date();\n\nmsg = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "e6079fe93ae39937"
            ]
        ]
    },
    {
        "id": "e6079fe93ae39937",
        "type": "debug",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "e85f7c32b3e4d863",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Axes Position",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "5af87b665ab849ef",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "c88f46c050aa51a3"
            ]
        ]
    },
    {
        "id": "c88f46c050aa51a3",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdReset",
        "payloadFormat": "value_type",
        "name": "Reset",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 510,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c128f90be143a216",
        "type": "ui-button",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "group": "f52f774838673224",
        "name": "",
        "label": "Reset",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "lock-reset",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "5af87b665ab849ef",
                "ac49f0b9e2200d23",
                "3721ba1125f3e447"
            ]
        ]
    },
    {
        "id": "ac49f0b9e2200d23",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Reset X Y Z Slider",
        "func": "const msg1 = {payload:-199};\nconst msg2 = {payload:-78};\nconst msg3 = {payload:0};\n\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 720,
        "wires": [
            [
                "1e189ecd802172e5"
            ],
            [
                "52bfe6c137bd1644"
            ],
            [
                "f8c71b02e2e6a3cf"
            ]
        ]
    },
    {
        "id": "1e189ecd802172e5",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "group": "bb97738361048557",
        "name": "",
        "label": "X Abs. Position",
        "tooltip": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-220",
        "max": "220",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 400,
        "y": 640,
        "wires": [
            [
                "6243fa7ea09362a4"
            ]
        ]
    },
    {
        "id": "602f4c0ed027a896",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_X",
        "payloadFormat": "value_type",
        "name": "X Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 790,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6243fa7ea09362a4",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "602f4c0ed027a896"
            ]
        ]
    },
    {
        "id": "52bfe6c137bd1644",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "group": "bb97738361048557",
        "name": "",
        "label": "Y Abs. Position",
        "tooltip": "",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "575b8dd8c92560ac"
            ]
        ]
    },
    {
        "id": "3c3321ef3d105be0",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_Y",
        "payloadFormat": "value_type",
        "name": "Y Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 790,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "575b8dd8c92560ac",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "3c3321ef3d105be0"
            ]
        ]
    },
    {
        "id": "f8c71b02e2e6a3cf",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "group": "bb97738361048557",
        "name": "",
        "label": "Z Abs. Position",
        "tooltip": "",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-149",
        "max": "150",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": true,
        "x": 400,
        "y": 900,
        "wires": [
            [
                "059ec5ae6fe47060"
            ]
        ]
    },
    {
        "id": "35519cde47a513a6",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_Z",
        "payloadFormat": "value_type",
        "name": "Z Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 790,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "059ec5ae6fe47060",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 900,
        "wires": [
            [
                "35519cde47a513a6"
            ]
        ]
    },
    {
        "id": "b21a4f9c5ea48486",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Manage and Init Axes Sliders",
        "info": "",
        "x": 720,
        "y": 980,
        "wires": []
    },
    {
        "id": "3721ba1125f3e447",
        "type": "link out",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Reset Gripper",
        "mode": "link",
        "links": [],
        "x": 185,
        "y": 660,
        "wires": []
    },
    {
        "id": "5c7cf1a654210fbf",
        "type": "ui-markdown",
        "z": "2c31763846faff4a",
        "group": "6b2222aa7324c02b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "## Dynamic info\nAxis X: {{msg.payload}}\n\n# Lab 03\n\nCourse AutB\n\nAuthor: [Cédric Lenoir](mailto:cedric.lenoir@hevs.ch)  \n> Version 2025, V1.0\n\n# LAB 03 Programming a Function Block (FB) to Manage a Distance Sensor\n\nIn this lab, we will program a Function Block (FB) to manage a distance sensor.\n\nInitially, we could use only the basic information provided by the sensor, namely the measured distance.  \nHowever, if we want to implement additional functionalities, we will need to program them in a POU (Program Organization Unit) called the **Function Block (FB)**.  \nAll functionalities will be \"encapsulated\" in this Function Block and can be used by all sensors of the same type through **instances** of this FB.\n\n# Sensor Description\nThe distance sensor we will use in this lab is manufactured by [Baumer](https://www.baumer.com/ch/en).  \nIt uses laser triangulation measurement technology to determine the distance to the target object.\n\n<u>Sensor Reference</u>: O300.DL-GM1J.72N (11199079)\n\n<br>\n\nThis sensor relies on the **IO-Link** point-to-point communication interface (compliant with IEC 61131-9).\n\nUnlike traditional systems where analog-to-digital conversion is performed at the PLC's analog input card, this is done directly inside the sensor.\n\n<br>\n\n## Technical Data\n\n|Property                          |Value|\n|-----------------------------------|-------------|\n|Measuring distance Sd              |30 ... 250 mm|\n|Beam shape                         |point|\n|Optical alignment axis             |< 2°|\n|Voltage range +Vs                  |11 ... 30 VDC|\n|Max consumption (no load)          |30 mA|\n|Residual voltage Vd                |< 2.5 VDC|\n|Reverse polarity protection        |yes|\n|Short-circuit protection           |yes|\n|Interface                          |IO-Link V1.1|\n|Operating temperature              |-10 ... +60 °C|\n|Protection class                   |IP 67|\n\n<br>\n\nThese data are mainly relevant to the person managing the hardware.\n\nFor the PLC programmer, the focus will be on the sensor data that can be accessed for reading and, depending on access rights, also for writing.\n\n## Synchronous Data\n**Synchronous** data (Processdata) are transmitted at regular intervals. They are detailed in the table below.\n\n### IO-Link \"Processdata\"\n|8-23|7|6|5|4|3|2|1|0|\n|----|-|-|-|-|-|-|-|-|\n|MDC1| | | | |A|Q| |BDC1|\n\n**MDC1**: sensor measurement value  \n**A**: alarm bit (indicates a problem with the sensor's configuration or functionality)  \n**Q**: quality bit (indicates that the signal quality is below a pre-configured threshold)  \n**BDC1**: logical switching output of the sensor  \n\n<br>\n\n## Asynchronous Data\n**Asynchronous** data can be read or modified without strict temporal synchronization.  \nSome parameters are shown below as examples.\n\nThe [pre-defined parameters](#io-link-pre-defined-parameters) allow sensor identification. The [binary data channel parameters](#io-link-binary-data-channels) allow, for example, adjusting a threshold within the sensor's detection range.\n\n### IO-Link Pre-defined Parameters\n|Index      |Subindex (dec) |Access |Parameter name |Coding |Definition|\n|-----------|---------------|-------|---------------|-------|----------|\n|0x000C (12)| 0             |R/W    |Device Access Locks| Uint16|0: Unlocked (default)\n|           |               |       |             |       |1: Device is operating properly|\n|0x0010 (16)| 0             |R      |Vendor Name| String|Baumer Electric AG|\n|0x0011 (17)| 0             |R      |Vendor Text| String|www.baumer.com|\n|0x0012 (18)| 0             |R      |Device Name| String|Product Key External (<Product Key Internal>)|\n|0x0013 (19)| 0             |R      |Product Id| String|Baumer Article Number|\n|0x0014 (20)| 0             |R      |Device Text| String|Sensor specific|\n|0x0015 (21)| 0             |R      |Serial Number| String|Production Order Nr / Serial Nr |\n|0x0017 (23)| 0             |R      |Firmware Revision| String|Major.Minor “##.##”|\n|0x0018 (24)| 0             |R/W    |Application Specific Tag|String| Default: Filled with ******, as recommended by the IO-Link spec.|\n|0x0024 (36)| 0             |R      |Device Status| Uint16| 0: Device is operating properly\n|           |               |       |             |       | 1: Device is operating properly\n|           |               |       |             |       | 2: Out-of-Specification\n|           |               |       |             |       | 3: Functional-Check\n|           |               |       |             |       | 4: Failure\n|           |               |       |             |       | 5 - 255: Reserved|\n|0x0025 (37)| 0             |R      |Detailed Device Status| Uint16| EventQualifier “0x00” EventCode “0x00, 0x00”\n\n<br>\n\n### IO-Link Binary Data Channels\n|Index      |Subindex (dec) |Access |Parameter name| Coding| Definition|\n|-----------|---------------|-------|---------------|-------|----------|\n|0x003c (60)| 01            |R/W    | Setpoint SP1  |Uint16 |Teach Point [mm] (TP)|\n|           | 02            |R/W    |Setpoint SP2   |Uint16 |Not supported|\n|0x003d (61)| 01            |R/W    |Switchpoint logic|Uint8|0x00: not inverted 0x01: inverted|\n|           | 02            |R/(W)  |Switchpoint mode|Uint8|Fixed value 0x01: Single point mode|\n\n<br>\n\nAsynchronous parameter management can be done directly from the PLC.  \nHowever, the PLC, being primarily dedicated to cyclic tasks, is not very efficient for this type of work.  \n<br>\nAnother option is to use software provided by the manufacturers, which allows sensor configuration without going through the PLC.  \nFor example, Baumer offers the [Baumer Sensor Suite (BSS)](https://www.baumer.com/us/en/products/baumer-sensor-suite/a/baumer-sensor-suite).\n\n<br>\n\nTo enable a PLC to access an IO-Link sensor, an **IO-Link Master** is required.  \n<br>\n\nThis module acts as a gateway, enabling bidirectional communication between the \"IO-Link\" protocol and the PLC's fieldbus protocol (Profinet, EtherCAT, Ethernet/IP, Modbus TCP, etc.).\n\n\n# Practical Work\n\n<u>Objective</u>:  \nProgram a Function Block (FB) that reads and processes the sensor's synchronous data while integrating specific functionalities.\n\n<br>\n\n## Function Block (FB) Interface Description\n\n### Input\n\n|Name   |Type       |Description|\n|-------|-----------|-----------|\n|Enable\t|BOOL\t    |Activate Function Block, set data value in output if valid.|\n|HighThreshold|REAL|Sets upper switching threshold|\n|LowThreshold|REAL|Sets lower switching threshold|\n|DefaultOut  |REAL        |Default value when problems occur|\n\n### In Out\n|Name   |Type       |Description|\n|-------|-----------|-----------|\n|hw |UA_O300_DL |In the particular context of the ctrlX to S7 interface.|\n\n### Output\n|Name         |Type         |Description         |\n|-------------|:------------|--------------------|\n|InOperation\t|BOOL\t        |Valid data at output|\n|Value\t|REAL\t        |Distance from object in mm|\n|HighLimit\t      |BOOL\t        |Distance above HighThreshold   |\n|LowLimit\t      |BOOL\t        |Distance below LowThreshold   |\n|Error\t      |BOOL\t        |There is an error   |\n|ErrorID\t    |WORD         |Some details about the error with Error Code.|\n\n|ErrorID Code |Description|\n|-------------|-----------|\n|16#0000      |Data valid |\n|16#0001      |Quality bit, signal is below the configured threshold.|\n|16#0002      |Alarm bit, signal an error in sensor, this alarm has priority over ID 16#0001|\n|16#0003      |Id not defined|\n\n<br>\n\n## Function Block (FB) Behavior\n\nThere are a few basic models that describe the behavior of Function Blocks.\n\nFor example:\n\n- The **\"In Operation Base\"** model, which operates continuously.\n- The **\"Execute\"** model, which operates based on a one-time trigger.\n\nManaging a sensor is a typical example of an FB operating according to the **\"In Operation Base\"** model.  \nThe FB runs as long as its ``Enable`` input is activated.\n\n<br>\n\nThe state diagram of an **In Operation Base** Function Block can be represented as follows:\n\n<div style=\"text-align: center;\">\n\n```mermaid\n---\ntitle: Not all links represented\n---\n\nstateDiagram-v2\n    [*] --> Idle\n    Idle --> Init\n    Init --> InOp\n    InOp --> Error : Error Condition\n    InOp --> Idle : Not Enable\n    Error --> Idle : Not Enable\n```\n\n</div>\n\n<br>\n\n<div style=\"text-align: center;\">\n\n```mermaid\n---\ntitle: Not all links represented\n---\n\nstateDiagram-v2\n    [*] --> Idle\n    Idle --> Init\n    Init --> InOpLevelOk\n    Init --> InOpLevelHigh\n    Init --> InOpLevelLow\n    InOpLevelOk --> Error\n    InOpLevelHigh --> Error\n    InOpLevelLow --> Error\n    InOpLevelOk --> Idle\n    InOpLevelHigh --> Idle\n    InOpLevelLow --> Idle\n    Error --> Idle : Not Enable\n\n```\n\n</div>\n\n<br>\n\nWe quickly notice that even if the number of states is limited, the complete representation becomes difficult to read.\n\n**This representation will nevertheless be used to program our Function Block (FB).**\n\n<br>\n\n### Output Signal in Case of Malfunction or Disturbances\nDepending on the sensor's use, an erroneous read value can cause problems.\n\nIf the sensor is faulty (Alarm bit signal) or if the signal quality (Quality bit signal) is not correct, **we absolutely do not want the output signal ``Value`` to be 0**.\n\nIn this case, the ``DefaultOut`` input will be assigned to the ``Value`` output.\n\n<u>Note</u>: The system can be tested with a default ``DefaultOut`` value set to 251 (1 [mm] more than the sensor's theoretical measurement range).\n\n# Tasks to Complete\n\n1. Program the DUT (Data User Type) ``E_OperationBaseDL`` of type ENUM (enumeration) containing the sensor's possible states.\n2. Program the FB (Function Block) ``FB_O300_DL`` using the interface below.\n\n```iec61131-3\n\nFUNCTION_BLOCK FB_O300_DL\nVAR_INPUT\n    Enable: BOOL;\n    HighThreshold: REAL;\n    LowThreshold: REAL;\n    DefaultOut: REAL;\nEND_VAR\nVAR_IN_OUT\n    hw: UA_O300_DL;\nEND_VAR\nVAR_OUTPUT\n    InOperation: BOOL;\n    Value: REAL;\n    HighLimit: BOOL;\n    LowLimit: BOOL;\n    Error: BOOL;\n    ErrorId: WORD;\nEND_VAR\nVAR\n    eOperationBaseDL: E_OperationBaseDL;\n    inputConverted: REAL;\nEND_VAR\n\n\n```\n\n<br>\n\n**Guidelines to Follow:**\n\n- Write a state machine using ``CASE...OF`` with the different states and transition conditions.\n- Set the output states, ``InOperation``, ``HighLimit``, ``LowLimit``, and ``Error``, considering only the states.\n- Define the ``ErrorId`` variable using ``IF..ELSIF..ELSE`` conditions.\n- Assign a value to the ``Value`` output variable using ``IF..ELSE`` based on the ``InOperation`` state.\n\nN.B.: Do not forget to call the Function Block ``FB_O300_DL`` from the main program ``PRG_Student``!\n\n<u>Information</u>:  \nName of the structured variable to access the synchronous data of the distance sensor: ``GVL_Abox.uaAboxInterface.uaO300_DL_Optic``\n\n<br>\n<br>\n\n3. Test the Function Block (FB)\n\nThe FB's functionality will be verified using the distance sensor mounted on the unit.  \nThe position of the target mounted on the unit's Cartesian axis system will allow adjusting the distance measured by the sensor.\n\n\n<br>\n\nThe movement of the unit's X, Y, and Z axes will be performed using the **Node-RED** application provided.\n\n<br>\n\n<u>Steps to Use the \"Node-RED\" Application</u>:\n\n1. Replace the ``flows.json`` file located in the directory C:\\Users\\[your_username]\\.node-red with the ``flows.json`` file located under: autb-lab-03_2025\\PracticalWork_03_Student\\\n\n<br>\n\n2. Start Node-RED  \n- Open the command prompt (--> cmd.exe)  \n- Enter the command: node-red  \n\n<br>\n\n3. Access the Node-RED user interface  \n- Open the browser  \n- Enter the URL: http://localhost:1880  \n\n<br>\n\n4) Install additional modules for the application (if necessary!)\n\n- Click on the three horizontal lines at the top right  \n\n\n--> Manage Palette  \n\n--> Select the \"Install\" tab  \n\n--> Install the following modules:  \n\n    - @flowfuse/node-red-dashboard  \n    - node-red-contrib-ctrlx-automation  \n\n<br>\n\n5) Open the Dashboard  \n\n6. Start the installation using the \"Siemens\" operator panel  \n- Select \"Manual\" mode using the ``Manual`` button.  \n- Put the installation in the \"Execute\" state using the ``Reset`` and ``Start`` buttons.  \n\n\n<br>\n\n7. Move the target in front of the distance sensor using the \"Node-RED\" Dashboard and perform various tests to validate the correct operation of the ``FB_O300_DL`` Function Block.\n\n<br>\n\n# Conclusion\nFunction Blocks (FBs) provide **abstraction** and **modularity** that simplify the management of complex systems, make programs more readable and maintainable, and enable optimized reuse.\n\n",
        "className": "",
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c27cf164a5064eb4",
        "type": "ctrlx-datalayer-subscribe",
        "z": "2c31763846faff4a",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_x/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "5c7cf1a654210fbf",
                "8cafa78380a32c91"
            ]
        ]
    },
    {
        "id": "8cafa78380a32c91",
        "type": "debug",
        "z": "2c31763846faff4a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    }
]